:root {
    --brand-color-purple: #6100FF;
    --brand-color-medium-purple: #4500B6;
    --brand-color-dark-purple: #0E0024;
    --brand-color-gold: gold;
    --brand-color-white: #fff;
    --brand-color-black: #000;
    --brand-color-fuchsia: #F40F61;

    /* Grayscale */

    --brand-color-atmosphere: #EFF0FA;
    --brand-color-cloud: #DFE1EF;
    --brand-color-dust: #B8BACC;
    --brand-color-smoke: #9193A8;
    --brand-color-slate: #76788f;

    --brand-color-iron: #5A5C76;
    --brand-color-ore: #3f4259;
    --brand-color-meteor: #26273B;
    --brand-color-obsidian: #1A1B2E;
    --brand-color-vanta: #0B0C1B;
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    background-color: transparent;
    width: 85%;
    max-width: 85%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pqhighlighter {
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 5px 5px #82828288;
    border: 0.5px #2b2b2b66 solid;
    border-radius: 5px;
    color: lightgray;
    color: var(--brand-color-ore);
    width: fit-content;
}

.highlightedCode {
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 2;
    font-weight: 700;
}

/* Style each category */
.operator { color: #D14D8F; }     /* Operators */
.expression { color: #2C71C1 }     /* Expressions */
.function { color: #268E8E; } /* Functions */
.string { color: #268E8E; }        /* Strings */
.number { color: #2CC171; }          /* Numbers */
.comment { color: gray; }        /* Comments */